SUPABASE_URL=https://bxpxvexpathdkwglbsno.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ4cHh2ZXhwYXRoZGt3Z2xic25vIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc0ODkxOTgsImV4cCI6MjA2MzA2NTE5OH0.9n_-iPdgbXEjq5HP_Wa8vdR5Hu-mB7u95bvJPGkXt-s
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ4cHh2ZXhwYXRoZGt3Z2xic25vIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NzQ4OTE5OCwiZXhwIjoyMDYzMDY1MTk4fQ.pzE05iVk7Ma7cElDr1XT70bjr_M8TzQ1cTIzOeqHKI8
